@using CarHub.Web.Utils
@model IEnumerable<CarModel>
@{
    ViewData["Title"] = "Index";
}

<h1 class="pagetitle">Overview</h1>
<h5 style="margin-bottom: 60px;">Find your dream car</h5>

<div class="row">
    @foreach (var carModel in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img src="@Url.ResolveThumbnailSrc(carModel)" class="card-img-top" alt="car">
                <div class="card-body">
                    <span class="badge badge-pill badge-dark float-right" style="font-size: 15px;">@carModel.SellingPrice $</span>
                    <a href="#"><h5 class="card-title">@carModel.Make @carModel.Model @carModel.Trim</h5></a>
                    <div class="row icon-row">
                        <div class="col car-icons">
                            <img src="~/images/icons/calendar.png" class="icon-img" alt="calendar">
                            <h6>@carModel.Year</h6>
                        </div>
                        <div class="col car-icons">
                            <img src="~/images/icons/odometer.png" class="icon-img alt="odometer">
                            <h6>@carModel.Kilometers KM</h6>
                        </div>
                        @if (carModel.TransmissionType == CarHub.Core.Enums.TransmissionType.Automatic)
                        {
                            <div class="col car-icons">
                                <img src="~/images/icons/automatic-transmission.png" class="icon-img alt="transmission">
                                <h6>Automatic</h6>
                            </div>
                        }
                        else
                        {
                            <div class="col car-icons">
                                <img src="~/images/icons/manual-transmission.png" class="icon-img alt="transmission">
                                <h6>Manual</h6>
                            </div>
                        }
                    </div>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    }
</div> 