@using CarHub.Web.Utils
@model IEnumerable<CarModel>
@{
    ViewData["Title"] = "Overview";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="overflow-x">
                <table id="cars" class="overview-table table-bordered no-gutters flex-wrap">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Details</th>
                            <th scope="col">KMs</th>
                            <th scope="col">Year</th>
                            <th scope="col">LotDate</th>
                            <th scope="col">Purchase $</th>
                            <th scope="col">Selling $</th>
                            <th scope="col">SaleDate</th>
                            <th scope="col">Repair</th>
                            <th scope="col">RepairCost</th>
                            <th scope="col">ShowCase</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CarModel carModel in Model)
                        {
                            <tr>
                                <td>
                                    <img src="@Url.ResolveThumbnailSrc(carModel)" class="img rounded" style="height: 83px; width: 125px;" />
                                </td>
                                <td style="white-space: nowrap;">
                                    <p>@carModel.Vin</p>
                                    <p>@carModel.Make @carModel.Model @carModel.Trim</p>
                                    <p>@carModel.TransmissionType</p>
                                    <p>Purchased: @carModel.PurchaseDate.ToShortDateString()</p>
                                </td>
                                <td>@carModel.Kilometers</td>
                                <td>@carModel.Year</td>
                                <td>@carModel.LotDate.ToShortDateString()</td>
                                <td>@carModel.PurchasePrice</td>
                                <td>@carModel.SellingPrice</td>
                                <td>@(carModel.SaleDate.HasValue ? carModel.SaleDate.Value.ToShortDateString() : string.Empty)</td>
                                <td>@string.Join(", ", carModel.RepairModels.Select(rm => rm.RepairDescription))</td>
                                <td>@carModel.RepairModels.Sum(rm => rm.RepairCost)$</td>
                                <td>@carModel.ShowCase</td>
                                <td>
                                    <a asp-controller="Cars" asp-action="EditCar" asp-route-id="@carModel.Id">
                                        <button class="btn btn-primary">Edit</button>
                                    </a>
                                    <button class="btn btn-success" onclick="setSaleDate(@carModel.Id)">Sold</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts  {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cars').DataTable();
        });

        var SaveSalesDateUrl = "@Url.Action("SetSalesDate", "Cars")";
    </script>
    <script src="~/js/overview.js"></script>
}